# Dependency directories
node_modules
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Docker-related files
Dockerfile
docker-compose.yml
compose.yml

# Git
.git
.gitignore

# Tests
__tests__/
test/
*.spec.js
*.test.js
coverage

# Env and config
.env
.env.*
*.local

# Editor configs
.vscode
.idea
*.swp
*.swo
*.bak

# Misc
*.tgz
*.zip
