# Server Configuration
NODE_ENV=
PORT=

# Logger Configuration
LOG_LEVEL=
PRETTY_PRINT_LOG=

# Swagger Configuration
SWAGGER_ENABLED=
SWAGGER_USER=
SWAGGER_PASSWORD=

# API Server
API_SERVER_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRY=